#landing {
  position: relative;
  background-image: url('../../images/snowy.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  &::before {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    content: '';
    background-color: rgba(	0,	5,	43, 0.8);
    background-position: inherit;
    background-repeat: inherit;
    background-size: inherit;
    z-index: 0;
  }
}
