#boxes {
  background-image: url();
  margin: 0;
  .box {
    min-height: 70vh;
    border-bottom: 1px solid black;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .box_content {
  width: fit-content;
  }
  h2 {
    border-bottom: 2px solid white;
    line-height: 2.2;
    position: relative;
  }
  p {
    margin-top: 0.8rem;
  }
  .man {
    background-image: url('../../images/man.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    }
  .city {
    position: relative;
    background-image: url('../../images/city.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      left: 0;
      height: 100%;
      background-color: rgba(0,0,0,0.3);
      background-size: cover;
    }
  }
  .rocky {
    background-image: url('../../images/rocky.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
  }
  .wolf {
    background-image: url('../../images/wolf.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
  .subway {
    background-image: url('../../images/subway.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .camera {
    background-image: url('../../images/camera.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
